{% extends "base.html" %}

{% block middle %}
    <div class="jumbotron">
      <div class="container">
        <h1>Meshviewer Demo Page</h1>
      </div>
    </div>

<div class="container">
    <div class="row">
        <div class="md-col-12">
            <div class="pull-left">
            {% include "meshviewer/snippets/viewer_controls.html" %}
            </div>
            <div style="text-align: center">
                {% include "meshviewer/snippets/jsc3d_stl_viewer.html" with path="project/000/031/01/alt.face_17.stl" %}
            </div>
        </div>
    </div>
</div>


{% endblock %}

