{% extends "base/landingpage.html" %}
{% load i18n %}

{% block content %}

<div class="container">
<div class="col-md-12">
    <h1 class="centered-text">{% trans "Open Lab" %}</h1>
    <p> Open Lab is a project made possible by the contributions of awesome people like you.  </p>
    <h4>Stock photo info</h4>
    <p>Stock photos are provided by the following talented photographers, all
    of which are under the CC-BY license. Their portfolios are accessible from
    500px.com, with the given username.</p>

    <ul class="credits">

        <li>alaska by Arthur Chapman</li>
        <li>irrigation by Soilscience</li>
        <li>salt by Esert  janus sandsgaard</li>

        <li>auga by Ico  88rabbit</li>
        <li>lencois by Deltafruit</li>
        <li>salt by Esert  janus sandsgaard</li>

        <li>chicago by Rhysaplundh </li>
        <li>montreal by Kyline  jakehall</li>
        <li>san by Ristobal De las casas  emilio labrador</li>

        <li>chpaada Apodi abacaxi  deltafrut</li>
        <li>northern by Isconsin  chefranden</li>
        <li>sao by Aulo  ndecam  </li>

        <li>chpaada by O Apodi melao2  deltafrut</li>
        <li>nwi by Bradleypjohnson</li>
        <li>seca by Mary Hsu</li>

        <li>chpaada by O Apodi melao  deltafrut</li>
        <li>pastoral by Omadism  hamed</li>
        <li>singapore by   Joanet  </li>

        <li>cote by Or  sybarite48</li>
        <li>penedo by Deltafruit</li>
        <li>singapore by Joanet  </li>

        <li>desert by 55953988@N00</li>
        <li>rice by   Gillpenney</li>
        <li>singapore by Sanchom  </li>

        <li>desert by Canecalon</li>
        <li>rice by Gillpenney</li>
        <li>suburb by Futureatlas</li>

        <li>field by Isconsin  dieseldemon</li>
        <li>rice by Illage  yarra64</li>

        <li>houston by Kyline  pinkaura  </li>
        <li>rocha by Michaelb</li>
    </ul>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <p> Some original Open Lab content is released under a <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons BY-SA</a>.  </p>
</div>
</div>
{% endblock %}


