@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?76682111');
  src: url('../font/fontello.eot?76682111#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?76682111') format('woff'),
       url('../font/fontello.ttf?76682111') format('truetype'),
       url('../font/fontello.svg?76682111#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?76682111#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-emo-happy:before { content: '\e800'; } /* '' */
.icon-diamond:before { content: '\e82a'; } /* '' */
.icon-emo-wink2:before { content: '\e802'; } /* '' */
.icon-emo-unhappy:before { content: '\e803'; } /* '' */
.icon-emo-sleep:before { content: '\e804'; } /* '' */
.icon-emo-thumbsup:before { content: '\e805'; } /* '' */
.icon-emo-devil:before { content: '\e806'; } /* '' */
.icon-emo-surprised:before { content: '\e808'; } /* '' */
.icon-emo-tongue:before { content: '\e807'; } /* '' */
.icon-emo-coffee:before { content: '\e809'; } /* '' */
.icon-emo-sunglasses:before { content: '\e80a'; } /* '' */
.icon-emo-displeased:before { content: '\e80b'; } /* '' */
.icon-emo-beer:before { content: '\e80c'; } /* '' */
.icon-emo-grin:before { content: '\e80d'; } /* '' */
.icon-emo-angry:before { content: '\e80e'; } /* '' */
.icon-emo-saint:before { content: '\e80f'; } /* '' */
.icon-emo-cry:before { content: '\e810'; } /* '' */
.icon-emo-shoot:before { content: '\e811'; } /* '' */
.icon-emo-squint:before { content: '\e812'; } /* '' */
.icon-emo-laugh:before { content: '\e813'; } /* '' */
.icon-crown:before { content: '\e818'; } /* '' */
.icon-coffee:before { content: '\e82e'; } /* '' */
.icon-food:before { content: '\e82f'; } /* '' */
.icon-beer:before { content: '\e815'; } /* '' */
.icon-emo-wink:before { content: '\e801'; } /* '' */
.icon-heart:before { content: '\e816'; } /* '' */
.icon-flag:before { content: '\e81b'; } /* '' */
.icon-thumbs-up:before { content: '\e819'; } /* '' */
.icon-thumbs-down:before { content: '\e81a'; } /* '' */
.icon-feather:before { content: '\e81c'; } /* '' */
.icon-lamp:before { content: '\e817'; } /* '' */
.icon-trophy:before { content: '\e81d'; } /* '' */
.icon-flight:before { content: '\e81f'; } /* '' */
.icon-paper-plane:before { content: '\e820'; } /* '' */
.icon-brush:before { content: '\e81e'; } /* '' */
.icon-rocket:before { content: '\e821'; } /* '' */
.icon-cloud-sun:before { content: '\e822'; } /* '' */
.icon-drizzle:before { content: '\e823'; } /* '' */
.icon-snow:before { content: '\e824'; } /* '' */
.icon-cloud-flash:before { content: '\e825'; } /* '' */
.icon-gift:before { content: '\e826'; } /* '' */
.icon-music:before { content: '\e828'; } /* '' */
.icon-lightbulb:before { content: '\e829'; } /* '' */
.icon-paper-plane-1:before { content: '\e82d'; } /* '' */
.icon-megaphone:before { content: '\e82c'; } /* '' */
.icon-beaker:before { content: '\e82b'; } /* '' */
.icon-money:before { content: '\e827'; } /* '' */
.icon-note:before { content: '\e814'; } /* '' */