{% extends "base.html" %}

{% block middle %}

<div class="jumbotron">
    <div class="container">
    <h1>Docviewer PDF</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="md-col-12">
            <div class="pull-left">
            </div>
            <div style="text-align: center">
                {% include "docviewer/snippets/docviewer.html" with path="untracked.test/chicken.pdf" %}
            </div>
        </div>
    </div>
</div>


<div class="jumbotron">
    <div class="container">
    <h1>Docviewer ODT</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="md-col-12">
            <div class="pull-left">
            </div>
            <div style="text-align: center">
                {% include "docviewer/snippets/docviewer.html" with path="untracked.test/moonbirds.odt" %}
            </div>
        </div>
    </div>
</div>
{% comment %}
{% endcomment %}



<div class="jumbotron">
    <div class="container">
    <h1>Docviewer SVG</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="md-col-12">
            <div class="pull-left">
            </div>
            <div style="text-align: center">
                {% include "docviewer/snippets/docviewer.html" with path="untracked.test/home_automated_chef2.svg" %}
            </div>
        </div>
    </div>
</div>



{% endblock %}

