{% load openlab_tags %}


{% if path|endswith:".odt,.odp,.odg,.ods,.pdf" %} 
    {# Use viewerjs #}
    <iframe 
        src="{{ STATIC_URL }}/viewerjs/index.html#{{ MEDIA_URL }}{{ path }}"
        width="100%" height="500px"
        allowfullscreen webkitallowfullscreen></iframe>
{% elif path|endswith:".svg" %}
    {# Use svgpan.js #}
    <div data-jsview="svgpan" data-svgpan-url="{{ MEDIA_URL }}{{ path }}">
        <img src="{{ MEDIA_URL }}{{ preview_path }}" />
    </div>
{% else %} 
    {#  unknown type :( #}
    ERROR unknown type :(
{% endif %}


