{% extends "accounts/manage/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block mid_content %}
    <h3>Password</h3>
    <p><a class="btn btn-block  btn-default" href="{% url "django.contrib.auth.views.password_change" %}">{% trans "Change password" %}</a></p>
    <p><a class="btn btn-block btn-default" href="{% url "django.contrib.auth.views.password_reset" %}">{% trans "Reset password" %}</a></p>
{% endblock mid_content %}


{% block right_content %}
<div class="well">
    <h3>Changing your password</h3>
    <p>Use the links here to change or reset your password.</p> <p>If you
    ever think your account is compromised, be sure to change your password
    right away.</p>
</div>
{% endblock %}



