{% comment %}
    'max_width': 1170, # max width of bootstrap container
    'max_height': 1170, # square
    'quality': 97,
{% endcomment %}
{% if still %}
    <canvas id="cv"width="1170" height="585"></canvas>
{% else %}
    <canvas id="cv"width="640" height="320"  {% if hidden %}style="display: none"{% endif %} ></canvas>
{% endif %}


<script>
var f = function () {
    //JSC3D.console.setup('main_frame', '120px');

    var canvas = document.getElementById('cv');
    var viewer = new JSC3D.Viewer(canvas);
    {% if url_stl %}
        viewer.setParameter('SceneUrl', '{{ url_stl }}');
    {% else  %}
        viewer.setParameter('SceneUrl', '{{ MEDIA_URL }}{{ path }}');
    {% endif %}
    viewer.setParameter('InitRotationX', 45);
    viewer.setParameter('InitRotationY', -45);
    viewer.setParameter('InitRotationZ', -135);
    viewer.setParameter('ModelColor', '#ffffff');
    viewer.setParameter('BackgroundColor1', '#ffffff');
    viewer.setParameter('BackgroundColor2', '#ffffff');
    {% if not still %}
        viewer.setParameter('BackgroundImageUrl', '{{ STATIC_URL }}meshviewer/img/graphy_bg.png');
    {% endif %}
    //viewer.setParameter('RenderMode', 'smooth');
    //viewer.setParameter('SphereMapUrl', 'models/chrome.jpg');
    //viewer.setParameter('SphereMapUrl', '{{ STATIC_URL }}meshviewer/img/graphy/graphy_@2X.png');
    //viewer.setParameter('SphereMapUrl', '{{ STATIC_URL }}meshviewer/img/wood/wood_pattern.png');
    //viewer.setParameter('SphereMapUrl', '{{ STATIC_URL }}meshviewer/img/carbon/carbon_fibre_big.png');
    //viewer.setParameter('SphereMapUrl', '{{ STATIC_URL }}meshviewer/img/graphy/graphy_@2X.png');
    //viewer.setParameter('ProgressBar', 'off');

    var ctx = canvas.getContext('2d');

    var rotation_timer = null;

    var stop_rotate = function (skip_mouse) {
        if (rotation_timer) {
            clearInterval(rotation_timer);
        }

        if (!skip_mouse) {
            viewer.setMouseUsage('rotate');
            viewer.enableDefaultInputHandler(true);
        }
    };

    var start_rotate = function () {
        stop_rotate(true);
        viewer.enableDefaultInputHandler(false);
        rotation_timer = setInterval( function() { 
            viewer.rotate(0, 2, 0);
            viewer.update();
        }, 100);
    };

    var set_material_texture = function () {
        //viewer.setParameter('RenderMode', 'texturesmooth');
        viewer.setParameter('RenderMode', 'flat');
        viewer.setParameter('ModelColor', "#ffffff");
        //viewer.setParameter('ModelColor', '#bbbbff');
        viewer.init();
    };

    var set_material_wireframe = function () {
        viewer.setRenderMode('wireframe');
        viewer.setParameter('ModelColor', '#111111');
        viewer.init();
    };

    var buttonize = function ($e, func_on, func_off) {
        $e.find('i').toggleClass('icon-check').toggleClass('icon-check-empty');
        if ($e.find('i.icon-check').length) {
            // Is checked now
            func_on();
        } else {
            func_off();
        }
    };

    {% if not still %}
        $('#button_wireframe').click(function() {
            buttonize($(this), set_material_wireframe, set_material_texture);
        });

        $('#button_rotate').click(function() {
            buttonize($(this), start_rotate, stop_rotate);
        });
    {% endif %}


    viewer.setParameter('Definition', 'high');
    set_material_texture();

    {% if not still %}
        start_rotate();
    {% endif %}

    {% if still %}
        viewer.afterupdate = function() {
            /* Alert phantomjs to take screenshot */
            alert('phantom.ready')
        };
    {% endif %}

    viewer.init();
    {% comment %}
    //viewer.update();
    /*
    viewer.afterupdate = function() {
        var scene = viewer.getScene();
        if(scene) {
            var objects = scene.getChildren();
            for(var i=0; i<objects.length; i++) {
                objects[i].isEnvironmentCast = true;
            }
        }
    }
    */

/*
  viewer.onloadingstarted = function() {
    displayUserDefinedProgressBar(true);
  };

  viewer.onloadingcomplete = viewer.onloadingaborted = viewer.onloadingerror = function() {
    displayUserDefinedProgressBar(false);
  };

  ctx.font = '12px Courier New';
  ctx.fillStyle = '#FF0000';
  viewer.afterupdate = function() {
    if(logoTimerID > 0)
      return;

    var scene = viewer.getScene();
    if(scene != null && scene.getChildren().length > 0) {
      var objects = scene.getChildren();
      var totalFaceCount = 0;
      var totalVertexCount = 0
      for(var i=0; i<objects.length; i++) {
        totalFaceCount += objects[i].faceCount;
        totalVertexCount += objects[i].vertexBuffer.length / 3;
      }
      ctx.fillText(totalVertexCount.toString() + ' vertices', 10, 20);
      ctx.fillText(totalFaceCount.toString() + ' faces', 10, 35);
    }
  };

  function loadModel() {
    if(logoTimerID > 0) {
      clearInterval(logoTimerID);
      logoTimerID = 0;
      viewer.enableDefaultInputHandler(true);
    }
    var models = document.getElementById('model_list');
    viewer.replaceSceneFromUrl('models/' + models[models.selectedIndex].innerHTML);
    viewer.update();
  }

*/
    {% endcomment %}
};
{% if still %}
    f();
{% elif hidden %}
    window.start_jsc3d_preview = f;
{% else %}
    $(document).ready(f);
{% endif %}

</script>
