{% extends "project/view/base.html" %}

{% block tabcontent %}

<div class="container">
    <div class="row">
        <div class="col-md-8 col-sm-6">

            {% if files_by_folder and files_by_folder.0.1 %}
                {% include "project/snippets/file_list_preview.html" %}
            {% else %}
            <p class="no-files-notice">
                {% if can_edit %}
                    <a class="btn btn-success btn-large" href="{% url "project_update" project.hubpath %}"><i class="icon icon-4x icon-upload"></i></a><br />
                {% endif %}
                This project doesn't have any files.
            </p>
            {% endif %}
        </div>

        <div class="col-md-4 col-sm-6 project-sidebar">
            <div class="well">
                <dl class="dl-horizontal">
                    <dt>Owner</dt>   <dd><a href="{% if project.team %}
                        {{ project.team.get_absolute_url }} {% else %}
                        {{ project.user.get_absolute_url }}{% endif %}">{% firstof project.team project.user %}</a>
                    </dd>
                    <!--<dt>Path</dt>    <dd>{{ project.hubpath }}</dd>-->
                    {% url "project_list" as project_list_url %}
                    <dt>Tags</dt>   <dd>
                        {% for tag in project.tags.all %}
                            <a class="label label-info" href="{{ project_list_url}}?tag={{ tag }}">{{ tag }}</a>
                        {% empty %}
                            None
                        {% endfor %}</dd>
                    <dt>Location</dt>   <dd>
                        {% include "location/snippets/location_line.html" with view_name="project_list" %}
                    </dd>
                    <dt>License</dt>   <dd>
                    <p>
                        {% include "licensefield/snippets/license.html" with license=project.license license_display=project.get_license_display img_size="small" %}
                    </p>
                    </dd>
                    <dt>First created</dt>   <dd>{{ project.creation_date|date }}</dd>
                    <dt>Last updated</dt>   <dd>{{ project.updated_date|date }}</dd>
                </dl>
            </div>
        </div>
    </div>
</div>

{% if subprojects %}
<div class="container components">
    {% for project in subprojects %}
        <hr />
        <div class="row">
            <div class="col-md-6">
                {% include "project/snippets/project_bar.html" %}
            </div>
            {% include "project/snippets/file_list_preview.html" with files=project.files.all %}
        </div>
    {% endfor %}
</div>
{% endif %}
{% endblock tabcontent %}
