{% load i18n %}

<li class="{% if notifications_tab %}active{% endif %} tip"
    title="You have {% if notifications %}{{ notifications.count }}{% else %}no{% endif %} messages in your inbox.">
    <a href="{% url "notifications_all" %}"><i class="icon-circle{% if not notifications.unread %}-blank{% endif %}"></i><span class="{% if not notifications_tab %}visible-xs{% endif %}">&nbsp;Inbox</span></a>
    {% comment %}
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-circle-blank"></i></a>
    <ul class="dropdown-menu">
        {% if notifications %}
            {% for notification in notifications.unread %}
                <li>{{ notification.message }}</li>
            {% endfor %}

            {# Add divider if we have both types #}
            {% if notifications.read and notifications.unread %}
                <li class="divider"></li>
            {% endif %}

            {% for notification in notifications.read %}
                <li>{{ notification.message }}</li>
            {% endfor %}
            {% if notifications.have_more %}
                <li class="divider"></li>
                <li><a href="{% url "notifications_all" %}">{% trans "All" %} <i class="icon-caret-right"></i></a></li>
            {% endif %}
        {% else %}
            <li><a class="text-muted">{% trans "Nothing's happened... yet." %}</a></li>
        {% endif %}
    </ul>
    {% endcomment %}
</li>

