{% extends "base/empty.html" %}
{% load i18n %}


{% block title %}
    {% if page_title %}
        {{ page_title|capfirst }} -
    {% endif %}
{% endblock %}


{% block body %}
    {% block top %}
    <div class="navbar navbar-fixed-top navbar-default">
      <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="{{ STATIC_URL }}core/images/new_logo_2_2x.png" alt="Open Lab" height="38"  />
            </a>
        </div>
        <div class="navbar-collapse collapse">
            {# Main nav #}
            <ul class="nav navbar-nav main-nav">
                <li {% block tab_planet %}{% endblock tab_planet %}><a href="{% if not user or not user.is_authenticated %}/{% else %}{% url "showcase" %}{% endif %}" class="tab-planet tip"  data-placement="bottom" title="Planet">
                    <i class="ol-icon ol-planet"></i>
                    <span class="icon-label">Planet</span>
                </a></li>
                <li {% block tab_projects %}{% endblock %}><a href="{% url "project_list" %}" class="tab-projects tip" title="Projects" data-placement="bottom">
                    <i class="ol-icon ol-project"></i>
                    <span class="icon-label">Projects</span>
                </a></li>
                <li {% block tab_people %}{% endblock %}><a href="{% url "team_list" %}" class="tab-people tip" title="People" data-placement="bottom">
                    <i class="ol-icon ol-person"></i>
                    <span class="icon-label">People</span>
                </a></li>
            </ul>

            {% block nav_user_menu %}
                {# user tools #}
                {% if not user.is_authenticated %}
                    <div class="navbar-form navbar-right navbar-login hidden-print">
                        {% include "accounts/snippets/login.html" %}
                    </div>
                {% else %}
                    <ul class="nav navbar-nav navbar-right">
                        {% include "accounts/snippets/user_menu.html" %}
                    </ul>
                {% endif %}
            {% endblock nav_user_menu %}
            </div>
        </div><!--/.navbar-collapse -->
      </div>
    </div>
    {% endblock %}


    {% block middle %}

        {% block header %}
        <div class="jumbotitle {% block header_class %}{% endblock %}" {% block header_attr %}{% endblock %}>
            <div class="header-top">


                {% block breadcrumbs %}
                    {% if request.breadcrumbs and request.breadcrumbs|length > 1 %}
                        <div class="container">
                            <ol class="breadcrumb">
                                {% for breadcrumb in request.breadcrumbs %}
                                    {% if forloop.last %}
                                        <li class="active">{{ breadcrumb.name }}</li>
                                    {% else %}
                                        <li><a href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ol>
                        </div>
                    {% endif %}
                {% endblock breadcrumbs %}
                <div id="messages">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="container">
                                <div class="alert alert-info alert-{{ message.tags }}">
                                    <a class="btn btn-large btn-warning pull-right" data-dismiss="alert">&times;</a>
                                    <p><big>{{ message }}</big></p>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>


            <div class="container header-content">
                {% block header_content %}
                {% endblock %}
            </div>

            <div class="header-bottom">
                {% block header_bottom %}
                {% endblock %}
            </div>
        </div>
        {% endblock %}

        {% block content %}
        {% endblock content %}
    {% endblock middle %}

    {% block footer %}
    <footer class="container">
        <hr>
        <div class="row">
            <div class="col-md-10">
            <p>
                Open Lab
                <!--[if lte IE 8]><span style="filter: FlipH; -ms-filter: "FlipH"; display: inline-block;"><![endif]-->
                <span style="-moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); display: inline-block;">
                &copy;</span>
                <!--[if lte IE 8]></span><![endif]-->
                {% now "Y" %}


                <a href="{% url "core_site_credits" %}">{% trans "Credits & Special Thanks." %}</a>
                {% trans "Contact:" %}
                <a href="/contact/">{% trans "Contact us online" %}</a>
                {% if user.is_authenticated and user.is_superuser %}
                <div class="pull-right well">
                <strong>ADMIN OPTIONS</strong> |
                <a href="/labrat/admin/">Admin panel</a> |
                <strong>Site blog:</strong> <a href="/labrat/admin/quickblog/post/add/">Write post</a>
                | <a href="/labrat/admin/quickblog/post/">Manage post</a>
                </div>
                {% endif %}
            </p>
        </div>


            <div class="col-md-2">
                <p><a 
                        class="btn btn-default btn-xs tip"
                        href="javascript:void(0);"
                        onClick="window.open('http://webchat.freenode.net/?nick={% firstof user.username 'visitor...' %}&channels=openlab-dev&uio=Mj10cnVlJjM9ZmFsc2UmMTA9dHJ1ZSYxMT0yMjYmMTM9ZmFsc2U9b','Open Lab Dev Chat','height=400,width=450');"
                        title="Ran into a bug? Not sure what to do? Click here to chat with us in the chat channel! (freenode#openlab-dev)"
                    >
                    <i class="icon-comments"></i> &nbsp; Open Lab Dev Chat &nbsp;<i class="icon-external-link"></i>
                </a></p>
            </div>
        </div>
    </footer> <!-- /container -->
    {% endblock footer %}
{% endblock body %}

